<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}!
  </h1>
  <!-- <div  style="width:40%">
  <canvas  id="lineChart" ></canvas>
  </div> -->

  <h1>Bar chart</h1>
  <div   style="width: 60%">
  <canvas id="barChart"></canvas>
  </div>
  <!-- <div style="width: 60pc">
  <canvas id="pieChart"></canvas>
</div> -->
<h1>Line chart</h1>
 <div *ngIf="chart" style="width:60%">
  <canvas id="canvas">{{ chart }}</canvas>
</div>
</div>
<!-- <div style="width:60%">
  <canvas
      baseChart
      [chartType]="'bar'"
      [datasets]="chartData"
      [labels]="labels"
      [options]="chartOptions"
      [legend]="true"
      [colors]="colors"
      (chartClick)="onChartClick($event)">
  </canvas>
</div> -->

<router-outlet></router-outlet>
